.day-of-the-week {
  display: flex;
  align-items: center;
  margin-right: auto;
  &__text {
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media screen and (max-width: $small-mobile-width) {
      font-size: 14px;
      line-height: 1.6;
    }
  }
  &__icon {
    fill: white;
    margin-right: 18px;
    @media screen and (max-width: $small-mobile-width) {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}
