.interesting {
  background-color: #fff;
  color: black;
  box-shadow: 0px 5px 18px rgba(black, 0.05);
  &__inner {
    @include container();
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    grid-template-areas: 'l n' 'l r';
    grid-gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (max-width: $laptop-width) {
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: repeat(2, auto);
      grid-template-rows: auto;
      grid-gap: 30px;
      padding-bottom: 80px;
      grid-template-areas: 'l l' 'n r';
    }
    @media screen and (max-width: $tablet-width) {
      grid-gap: 20px;
      grid-row-gap: 40px;
      grid-template-areas: 'l l' 'n n' 'r r';
      // grid-template-rows: repeat(3, auto);
      grid-template-rows: auto;
    }
    @media screen and (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      grid-template-areas: 'l' 'n' 'r';
    }
  }
}

.interesting__latest {
  grid-area: l;
  &-main-heading {
    font-size: 40px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 900;
    @media screen and (max-width: $laptop-width) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: $tablet-width) {
      font-size: 36px;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 28px;
    }
    
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 6px;
      background-color: #d5d5d5;
      background-image: linear-gradient(
        to right,
        $primary-color 0px,
        $primary-color 45px,
        #d5d5d5 45px,
        #d5d5d5 100%
      );
      margin-top: 15px;
    }
  }
  &-list {
    @media screen and (max-width: $laptop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    @media screen and (max-width: $tablet-width) {
      grid-gap: 20px;
    }
    @media screen and (max-width: $small-mobile-width) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
    &-item {
      padding: 46px 0px;
      border-bottom: 1px solid #c7c7c7;
      display: flex;
      align-items: center;
      @media screen and (max-width: $small-desktop-width) {
        align-items: flex-start;
      }
      @media screen and (max-width: $laptop-width) {
        flex-direction: column;
        border-bottom: none;
        padding: 0;
        // padding-top: 30px;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  &-post-image-container {
    background-color: $primary-color;
    width: 320px;
    height: 228px;
    flex-shrink: 0;
    margin-right: 44px;
    position: relative;
    @media screen and (max-width: $laptop-width) {
      width: 100%;
      height: auto;
      padding-top: 80%;
      margin-bottom: 20px;
    }
  }
  &-post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-post-description {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $laptop-width) {
      width: 100%;
    }
  }
  &-post-date {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    @media screen and (max-width: $mobile-width) {
      margin-left: auto;
    }
  }
  &-post-row-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @media screen and (max-width: $laptop-width) {
      margin-bottom: 15px;
    }
  }
  &-post-heading {
    font-size: 26px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
    @media screen and (max-width: $laptop-width) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 22px;
    }
  }
  &-post-paragraph {
    font-size: 20px;
    line-height: 30px;
    color: #8e8e8e;
    @media screen and (max-width: $laptop-width) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 16px;
    }
  }
  &-post-link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.2s;
    align-self: flex-start;
    @media screen and (max-width: $laptop-width) {
      border: 2px solid $primary-color;
      text-decoration: none;
      padding: 8px 22px;
      align-self: flex-end;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 16px;
      padding: 4px 14px;
    }
    &:link,
    &:visited {
      color: black;
    }
    &:focus,
    &:hover {
      color: $primary-color;
    }
  }
  &-post-tags-list {
    margin-right: 25px;
    &-item {
      margin-right: 9px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
  &-post-tag {
    display: block;
    color: white;
    background-color: $primary-color;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    padding: 2px 12px;
    border-radius: 15px;
    transition: background-color 0.3s;
    &:link,
    &:visited {
      color: white;
    }
    &:focus,
    &:hover {
      background-color: #242424;
    }
  }
}
.interesting__news {
  grid-area: n;
  @media screen and (max-width: $mobile-width) {
    padding-bottom: 50px;
  }
  &-main-heading {
    font-size: 40px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 46px;
    @media screen and (max-width: $tablet-width) {
      font-size: 36px;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 28px;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 6px;
      background-color: #d5d5d5;
      background-image: linear-gradient(
        to right,
        $primary-color 0px,
        $primary-color 45px,
        #d5d5d5 45px,
        #d5d5d5 100%
      );
      margin-top: 15px;
    }
  }
  &-list {
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @media screen and (max-width: $small-mobile-width) {
        align-items: flex-start;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &-image-container {
    width: 80px;
    height: 80px;
    background-color: $primary-color;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;
    @media screen and (max-width: $laptop-width) {
      width: 100px;
      height: 100px;
    }
    @media screen and (max-width: $mobile-width) {
      width: 80px;
      height: 80px;
    }
    @media screen and (max-width: $small-mobile-width) {
      margin-top: 5px;
    }
  }
  &-description {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }
  &-paragraph {
    font-size: 18px;
    line-height: 22px;
    color: #8e8e8e;
    margin-bottom: 10px;
    width: 100%;
    @media screen and (max-width: $laptop-width) {
      font-size: 20px;
      line-height: 30px;
    }
    @media screen and (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 16px;
    }
  }
  &-link {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid black;
    transition: color 0.2s, border 0.2s;
    transform: skewX(-20deg);
    @media screen and (max-width: $laptop-width) {
      font-size: 16px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      transform: skewX(0deg);
      padding: 3px 10px;
    }
    
    > span {
      display: inline-block;
      transform: skewX(20deg);
      @media screen and (max-width: $small-mobile-width) {
        transform: skewX(0deg);
      }
    }
    &:link,
    &:visited {
      color: black;
    }
    &:focus,
    &:hover {
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }
  &-date {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid black;
    transition: color 0.2s, border 0.2s;
    transform: skewX(-20deg);
    margin-left: 4px;
    @media screen and (max-width: $laptop-width) {
      font-size: 16px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      transform: skewX(0deg);
      margin-left: 0px;
      display: none;
    }
    
    > span {
      display: inline-block;
      transform: skewX(20deg);
      @media screen and (max-width: $small-mobile-width) {
        transform: skewX(0deg);
      }
    }
    &:link,
    &:visited {
      color: black;
    }
    &:focus,
    &:hover {
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }
}
.interesting__releases {
  grid-area: r;
  @media screen and (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  &-main-heading {
    font-size: 40px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 48px;
    @media screen and (max-width: $tablet-width) {
      margin-bottom: 60px;
      width: 100%;
      font-size: 36px;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 28px;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 6px;
      background-color: #d5d5d5;
      background-image: linear-gradient(
        to right,
        $primary-color 0px,
        $primary-color 45px,
        #d5d5d5 45px,
        #d5d5d5 100%
      );
      margin-top: 15px;
    }
  }
}
.interesting__releases-card {
  @media screen and (max-width: $laptop-width) {
    width: 100%;
    margin-top: 0;
  }
  @media screen and (max-width: $tablet-width) {
    width: 50%;
    border-left: 6px solid $primary-color;
    margin-bottom: 20px;
  }
  @media screen and (max-width: $mobile-width) {
    width: 100%;
  }
  &-heading {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: $laptop-width) {
      font-size: 22px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 18px;
    }
  }
  &-paragraph {
    margin-bottom: 20px;
    @media screen and (max-width: $laptop-width) {
      font-size: 18px;
      line-height: 1.6;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 16px;
    }
  }
  &-image-container {
    width: 100%;
    background-color: $primary-color;
    position: relative;
    padding-top: 70%;
  }
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-link {
    padding: 7px 22px;
    // letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    background-color: $primary-color;
    margin-top: auto;
    margin-left: auto;
    color: white;
    transition: background-color 0.3s;
    @media screen and (max-width: $laptop-width) {
      font-size: 18px;
      line-height: 1.6;
      padding: 10px 26px;
    }
    @media screen and (max-width: $small-mobile-width) {
      font-size: 16px;
      padding: 5px 15px;
    }
    &:link,
    &:visited {
      color: white;
    }
    &:focus,
    &:hover {
      background-color: #242424;
    }
  }
  &-description {
    width: 92%;
    margin: 0 auto;
    padding: 25px;
    padding-top: 20px;
    margin-top: -60px;
    background-color: #fff;
    box-shadow: 0px 0px 18px rgba(black, 0.18);
    position: relative;
    z-index: 80;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $laptop-width) {
      margin-top: 0px;
      box-shadow: none;
      width: 100%;
      background-color: #f1f1f1;
    }
    @media screen and (max-width: $small-mobile-width) {
      padding: 10px;
    }
  }
}
